apiVersion: v1
kind: ConfigMap
metadata: 
  name: {{ include "massdriver.fullname" . }}-massdriver-envs
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: massdriver
data:
  BLOB_STORAGE_HOST: "{{ include "massdriver.fullname" . }}-s3proxy.{{ .Release.Namespace }}.svc"
  BLOB_STORAGE_PORT: "80"
  BLOB_STORAGE_SCHEME: http
  DATABASE_SSL: "true"
  FORCE_V2_LOGGING: "true"
  LOG_LEVEL: {{ .Values.massdriver.logLevel | quote }}
  MD_DEPLOYMENT_QUEUE_API_URL: "http://{{ include "massdriver.fullname" . }}-launch-control.{{ .Release.Namespace }}.svc:{{ toString .Values.launchControl.service.port }}"
  {{- if .Values.massdriver.epmd.enabled }}
  MD_EPMD_CLUSTER_SERVICE: {{ include "massdriver.fullname" . }}-massdriver-epmd.{{ .Release.Namespace }}.svc
  {{- end }}
  MD_FRONTEND_URL: {{ include "massdriver.protocol" . }}://{{ .Values.massdriver.appSubdomain }}.{{ .Values.domain }}
  MD_METRICS_SERVER_ENABLED: "{{ .Values.massdriver.metrics.enabled }}"
  MD_METRICS_SERVER_PORT: {{ .Values.massdriver.metrics.port | toString | quote }}
  MD_REPOSITORY_BUCKET: {{ .Values.massdriver.blobStorage.massdriverBucket }}
  MIX_ENV: prod
  {{- if .Values.otel.enabled }}
  OTEL_RESOURCE_ATTRIBUTES: {{ .Values.otel.resourceAttributes | quote }}
  OTEL_SERVICE_NAME: {{ .Values.otel.serviceName | quote }}
  {{- if eq .Values.otel.exporter "otlp" }}
  OTEL_TRACES_EXPORTER: otlp
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.otel.otlp.endpoint | quote }}
  OTEL_EXPORTER_OTLP_HEADERS: {{ .Values.otel.otlp.headers | quote }}
  OTEL_EXPORTER_OTLP_PROTOCOL: {{ .Values.otel.otlp.protocol | quote }}
  {{- end }}
  {{- end }}
  PHX_CHECK_ORIGIN: //{{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }},//{{ .Values.massdriver.appSubdomain }}.{{ .Values.domain }}
  PHX_CORS_ORIGINS: {{ include "massdriver.protocol" . }}://www.{{ .Values.domain }},{{ include "massdriver.protocol" . }}://{{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }},{{ include "massdriver.protocol" . }}://{{ .Values.massdriver.appSubdomain }}.{{ .Values.domain }}
  PHX_HTTP_PORT: {{ .Values.massdriver.port | toString | quote }}
  PHX_SERVER: "true"
  PHX_URL_HOST: {{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }}
  PHX_URL_PORT: "{{ if .Values.massdriver.ingress.tls.enabled }}443{{ else }}80{{ end }}"
  PHX_URL_SCHEME: {{ include "massdriver.protocol" . }}
  TERRAFORM_STATE_BUCKET_NAME: {{ .Values.massdriver.blobStorage.stateBucket }}
{{- range $key, $value := .Values.massdriver.extraEnvs }}
  {{ $key }}: {{ $value | quote }}
{{- end }}