apiVersion: v1
kind: ConfigMap
metadata: 
  name: {{ include "massdriver.fullname" . }}-ui-envs
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
data:
  NEXT_PUBLIC_MASSDRIVER_URL: {{ include "massdriver.protocol" . }}://{{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }}
  NEXT_PUBLIC_MASSDRIVER_WS_URL: {{ include "massdriver.websocketProtocol" . }}://{{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }}
