{{- if .Values.massdriver.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "massdriver.fullname" . }}-massdriver
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: massdriver
  {{- with .Values.massdriver.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.massdriver.ingress.ingressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.massdriver.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }}
        - {{ .Values.massdriver.appSubdomain }}.{{ .Values.domain }}
      secretName: {{ include "massdriver.tlsSecretName" . }}
  {{- end }}
  rules:
    - host: {{ .Values.massdriver.apiSubdomain }}.{{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "massdriver.fullname" . }}-massdriver
                port:
                  name: http
    - host: {{ .Values.massdriver.appSubdomain }}.{{ .Values.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "massdriver.fullname" . }}-massdriver
                port:
                  name: ui
{{- end }}
