{{- if .Values.massdriver.migration.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "massdriver.fullname" . }}-massdriver-migration-{{ .Release.Revision }}
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: migration
spec:
  template:
    metadata:
      {{- with .Values.massdriver.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "massdriver.labels" . | nindent 8 }}
        {{- with .Values.massdriver.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app.kubernetes.io/component: migration
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: {{ include "massdriver.fullname" . }}-dockerhub
      serviceAccountName: {{ include "massdriver.fullname" . }}-massdriver
      {{- with .Values.massdriver.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: massdriver
          image: "{{ .Values.massdriver.image.repository }}:{{ .Values.massdriver.image.tag }}"
          imagePullPolicy: {{ .Values.massdriver.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "massdriver.fullname" . }}-massdriver-envs
            - secretRef:
                name: {{ include "massdriver.fullname" . }}-massdriver-envs
          args: 
            - eval
            - Massdriver.Release.migrate
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.massdriver.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.massdriver.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.massdriver.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}