{{- if .Values.minio.enabled -}}
apiVersion: v1
kind: Secret
metadata: 
  name: {{ include "massdriver.fullname" . }}-minio
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: minio
data:
  rootUser: {{ .Values.massdriver.blobStorage.minio.username | b64enc | quote }}
  rootPassword: {{ .Values.massdriver.blobStorage.minio.password | b64enc | quote }}
{{- end -}}