apiVersion: v1
kind: Secret
metadata: 
  name: {{ include "massdriver.fullname" . }}-massdriver-envs
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: massdriver
data:
  AWS_ACCESS_KEY_ID: {{ .Values.massdriver.blobStorage.username | b64enc | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.massdriver.blobStorage.password | b64enc | quote }}
  AWS_REGION: {{ "us-east-1" | b64enc | quote }}
  JWT_SECRET: {{ include "massdriver.jwtSecret" . | b64enc | quote }}
  LICENSE_KEY: {{ .Values.licenseKey | b64enc | quote }}
  MD_CLOAK_KEY: {{ include "massdriver.cloakKey" . | b64enc | quote }}
  MD_GRAPHQL_SUBSCRIPTION_SECRET_KEY: {{ include "massdriver.graphqlSubscriptionSecretKey" . | b64enc | quote }}
  {{- range .Values.oidc }}
  {{- $provider := .provider | upper }}
  MD_OIDC__{{ $provider }}__AUTHORIZE_URL: {{ .authorizeUrl | b64enc | quote }}
  MD_OIDC__{{ $provider }}__CLIENT_ID: {{ .clientId | b64enc | quote }}
  MD_OIDC__{{ $provider }}__CLIENT_SECRET: {{ .clientSecret | b64enc | quote }}
  MD_OIDC__{{ $provider }}__TOKEN_URL: {{ .tokenUrl | b64enc | quote }}
  {{- if not (empty .autojoinOrganization) }}
  MD_OIDC__{{ $provider }}__AUTOJOIN_ORGANIZATION: {{ .autojoinOrganization | b64enc | quote }}
  {{- end }}
  {{- end }}
  PHX_SECRET_KEY_BASE: {{ include "massdriver.phxSecretKeyBase" . | b64enc | quote }}
  PHX_SIGNING_SALT: {{ include "massdriver.phxSigningSalt" . | b64enc | quote }}
  POSTGRES_DATABASE: {{ .Values.postgres.database | b64enc | quote }}
  POSTGRES_HOSTNAME: {{ .Values.postgres.hostname | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password | b64enc | quote }}
  POSTGRES_USERNAME: {{ .Values.postgres.username | b64enc | quote }}
{{- if and .Values.quickstart (not (empty .Values.quickstart.email)) (not (empty .Values.quickstart.password)) }}
  QUICKSTART_USER_EMAIL: {{ .Values.quickstart.email | b64enc | quote }}
  QUICKSTART_USER_PASSWORD: {{ .Values.quickstart.password | b64enc | quote }}
{{- end }}
  RELEASE_COOKIE: {{ include "massdriver.releaseCookie" . | b64enc | quote }}
  SMTP_FROM_ADDRESS: {{ .Values.smtp.fromAddress | b64enc | quote }}
  SMTP_PASSWORD: {{ .Values.smtp.password | b64enc | quote }}
  SMTP_PORT: {{ .Values.smtp.port | toString | b64enc | quote }}
  SMTP_SERVER: {{ .Values.smtp.server | b64enc | quote }}
  SMTP_USERNAME: {{ .Values.smtp.username | b64enc | quote }}
{{- range $key, $value := .Values.massdriver.extraSecrets }}
  {{ $key }}: {{ $value | toString | b64enc | quote }}
{{- end }}
