apiVersion: v1
kind: Service
metadata:
  name: {{ include "massdriver.fullname" . }}-massdriver
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: massdriver
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.massdriver.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.ui.service.port }}
      targetPort: ui
      protocol: TCP
      name: ui
    {{- if .Values.massdriver.metrics.enabled }}
    - port: {{ .Values.massdriver.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "massdriver.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: massdriver
