apiVersion: v1
kind: Secret
metadata:
  name: {{ include "massdriver.fullname" . }}-s3proxy-envs
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: s3proxy
type: Opaque
data:
  # S3Proxy configuration
  S3PROXY_ENDPOINT: {{ "http://0.0.0.0:8080" | b64enc | quote }}
  S3PROXY_AUTHORIZATION: {{ "aws-v4" | b64enc | quote }}
  S3PROXY_IDENTITY: {{ .Values.massdriver.blobStorage.username | b64enc | quote }}
  S3PROXY_CREDENTIAL: {{ .Values.massdriver.blobStorage.password | b64enc | quote }}
  S3PROXY_VIRTUALHOST: {{ "" | b64enc | quote }}
  S3PROXY_IGNORE_UNKNOWN_HEADERS: {{ "true" | b64enc | quote }}
  S3PROXY_CORS_ALLOW_ALL: {{ "false" | b64enc | quote }}

  # Logging configuration for debugging
  LOG_LEVEL: {{ .Values.massdriver.blobStorage.logLevel | b64enc | quote }}
  JETTY_LOG_LEVEL: {{ .Values.massdriver.blobStorage.logLevel | b64enc | quote }}

  {{- if eq .Values.massdriver.blobStorage.type "minio" }}
  # MinIO backend configuration (using S3 SDK provider for path-style bucket addressing)
  JCLOUDS_PROVIDER: {{ "aws-s3-sdk" | b64enc | quote }}
  JCLOUDS_IDENTITY: {{ .Values.massdriver.blobStorage.minio.username | b64enc | quote }}
  JCLOUDS_CREDENTIAL: {{ .Values.massdriver.blobStorage.minio.password | b64enc | quote }}
  JCLOUDS_ENDPOINT: {{ printf "http://%s-minio.%s.svc:%s" (include "massdriver.fullname" .) .Release.Namespace (toString .Values.minio.service.port) | b64enc | quote }}
  {{- else if eq .Values.massdriver.blobStorage.type "s3" }}
  # AWS S3 Configuration
  JCLOUDS_PROVIDER: {{ "aws-s3" | b64enc | quote }}
  JCLOUDS_IDENTITY: {{ .Values.massdriver.blobStorage.s3.accessKeyId | b64enc | quote }}
  JCLOUDS_CREDENTIAL: {{ .Values.massdriver.blobStorage.s3.secretAccessKey | b64enc | quote }}
  JCLOUDS_ENDPOINT: {{ printf "https://s3.%s.amazonaws.com" .Values.massdriver.blobStorage.s3.region | b64enc | quote }}
  JCLOUDS_REGION: {{ .Values.massdriver.blobStorage.s3.region | b64enc | quote }}
  {{- else if eq .Values.massdriver.blobStorage.type "gcs" }}
  # Google Cloud Storage Configuration
  JCLOUDS_PROVIDER: {{ "google-cloud-storage" | b64enc | quote }}
  JCLOUDS_IDENTITY: {{ .Values.massdriver.blobStorage.gcs.serviceAccountEmail | b64enc | quote }}
  JCLOUDS_CREDENTIAL: {{ .Values.massdriver.blobStorage.gcs.privateKey | b64enc | quote }}
  JCLOUDS_ENDPOINT: {{ "https://storage.googleapis.com" | b64enc | quote }}
  {{- else if eq .Values.massdriver.blobStorage.type "azureblob" }}
  # Azure Blob Storage Configuration
  JCLOUDS_PROVIDER: {{ "azureblob-sdk" | b64enc | quote }}
  JCLOUDS_ENDPOINT: {{ printf "https://%s.blob.core.windows.net" .Values.massdriver.blobStorage.azureblob.storageAccountName | b64enc | quote }}
  {{- if not (empty .Values.massdriver.blobStorage.azureblob.storageAccountKey) }}
  JCLOUDS_IDENTITY: {{ .Values.massdriver.blobStorage.azureblob.storageAccountName | b64enc | quote }}
  JCLOUDS_CREDENTIAL: {{ .Values.massdriver.blobStorage.azureblob.storageAccountKey | b64enc | quote }}
  {{- else }}
  JCLOUDS_IDENTITY: {{ "" | b64enc | quote }}
  JCLOUDS_CREDENTIAL: {{ "" | b64enc | quote }}
  AZURE_TENANT_ID: {{ .Values.massdriver.blobStorage.azureblob.tenantId | b64enc | quote }}
  AZURE_CLIENT_ID: {{ .Values.massdriver.blobStorage.azureblob.clientId | b64enc | quote }}
  AZURE_CLIENT_SECRET: {{ .Values.massdriver.blobStorage.azureblob.clientSecret | b64enc | quote }}
  {{- end }}
  {{- end }}
