apiVersion: v1
kind: Service
metadata:
  name: {{ include "massdriver.fullname" . }}-s3proxy
  labels:
    {{- include "massdriver.labels" . | nindent 4 }}
    app.kubernetes.io/component: s3proxy
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "massdriver.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: s3proxy
